
{%extends 'base.html'%}
{% block content %}
<div class="container">
  <div class="row"style="padding:0 4px;">

    {% for post in post%}
    
    <div class="photo card">

      <div class="card-header">
        <h5 id='red' class="card-title"><b>{{post.title}}</b></h5>
      </div>
      <img style="width:50%; border-radius:25px " src="{{post.project_pic.url}}" class="card-img-top img-fluid" alt="dummy" width="100%">
      <div class="card-img-overlay">
        <br>
        
        <br>
        <br>
          <a href="{{post.project_url}}"><button type="button"class="btn btn-outline-warning">Rate</button></a>
           <br>
           <br>
           <br>
          <a href="{{post.project_url}}"><button type="button"class="btn btn-outline-warning">View project</button></a> <br>
          
      </div>


</div>