
{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="container">
        <div class="card w-75 my-5 mx-auto">
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form   layout='inline'%}
                    <input type="submit" value="Submit" class="btn btn-primary btn-sm">
                </form>
            </div>
        </div>
    </div>
{% endblock %}