
{% extends 'base.html' %}
{% block content %}
    <div class="container">
        {% if profile.user == user %}
        <h1 class="text-center my-4">Profile details</h1>
        {% else %}
        <h1 class="text-center my-4">{{profile.name}}'s Business</h1>
        {% endif%}
        {% if profile.user == user %}
                   
        <div class="col-md-6">
                <div class="card">
                    
                    <div class="card-body">
                            Name:<h2 class="card-title">{{profile.name}}</h2>
                            Hood:<p class="card-text">{{profile.hood}}</p>
                            Bio:<p class="card-text">{{profile.bio}}</p>
                            Email:<p class="card-text">{{profile.email}}</p>
            
                    </div>
                </div>
            </div>
            {% else %}
        <h1 >no profile made</h1>
        {% endif%}

       
        {% if businesses %}
        <h1 class="text-center my-4">Your posted business</h1>
        <div class="row">
            {% for business in businesses %}
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h2 class="card-title">{{business.name}}</h2>
                        <p class="card-text">{{business.description}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <h2 class="text-center">No business created!</h2>
        {% endif %}
       
    </div>
{% endblock %}